openapi: 3.0.3
info:
  title: Market Data
  version: 1.0.0
  description: Trader API - Market data
  contact:
    email: TraderAPI@Schwab.com
    name: Schwab Trader API team
servers:
  - url: https://api.schwabapi.com/marketdata/v1
security:
  - oauth:
      - read
      - write
tags:
  - name: Quotes
    description: Get Quotes Web Service.
  - name: Option Chains
    description: Get Option Chains Web Service.
  - name: Option Expiration Chain
    description: Get Option Expiration Chain Web Service.
  - name: PriceHistory
    description: Get Price History Web Service.
  - name: Movers
    description: Get Movers Web Service.
  - name: MarketHours
    description: Get MarketHours Web Service.
  - name: Instruments
    description: Get Instruments Web Service.
paths:
  /quotes:
    get:
      summary: Get Quotes by list of symbols.
      operationId: getQuotes
      tags:
        - Quotes
      parameters:
        - $ref: '#/components/parameters/quotes-query-param-symbols'
        - $ref: '#/components/parameters/quotes-query-param-fields'
        - $ref: '#/components/parameters/quotes-query-param-indicative'
      responses:
        '200':
          description: Quote Response
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteResponse'
              examples:
                MultiCriteriaSearch:
                  $ref: '#/components/examples/MultiCriteriaSearch'
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '401':
          $ref: '#/components/responses/ErrorResponse401'
        '500':
          $ref: '#/components/responses/ErrorResponse500'
  /{symbol_id}/quotes:
    get:
      summary: Get Quote by single symbol.
      operationId: getQuote
      tags:
        - Quotes
      parameters:
        - $ref: '#/components/parameters/quotes-path-param-symbol'
        - $ref: '#/components/parameters/quotes-query-param-fields'
      responses:
        '200':
          description: Quote Response
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteResponse'
              examples:
                SingleCriteriaSearch:
                  $ref: '#/components/examples/SingleSymbolCriteriaSearch'
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '401':
          $ref: '#/components/responses/ErrorResponse401'
        '404':
          $ref: '#/components/responses/ErrorResponse404'
        '500':
          $ref: '#/components/responses/ErrorResponse500'
  /chains:
    get:
      tags:
        - Option Chains
      summary: Get option chain for an optionable Symbol
      description: >-
        Get Option Chain including information on options contracts associated
        with each expiration.
      operationId: getChain
      parameters:
        - $ref: '#/components/parameters/QueryParamSymbol'
        - $ref: '#/components/parameters/QueryParamContractType'
        - $ref: '#/components/parameters/QueryParamStrikeCount'
        - $ref: '#/components/parameters/QueryParamIncludeQuotes'
        - $ref: '#/components/parameters/QueryParamStrategy'
        - $ref: '#/components/parameters/QueryParamInterval'
        - $ref: '#/components/parameters/QueryParamStrikePrice'
        - $ref: '#/components/parameters/QueryParamRange'
        - $ref: '#/components/parameters/QueryParamFromDate'
        - $ref: '#/components/parameters/QueryParamToDate'
        - $ref: '#/components/parameters/QueryParamVolatility'
        - $ref: '#/components/parameters/QueryParamUnderlyingPrice'
        - $ref: '#/components/parameters/QueryParamInterestRate'
        - $ref: '#/components/parameters/QueryParamDaysToExpiration'
        - $ref: '#/components/parameters/QueryParamExpMonth'
        - $ref: '#/components/parameters/QueryParamOptionType'
        - $ref: '#/components/parameters/QueryParamEntitlement'
      responses:
        '200':
          description: The Chain for the symbol was returned successfully.
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionChain'
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '401':
          $ref: '#/components/responses/ErrorResponse401'
        '404':
          $ref: '#/components/responses/ErrorResponse404'
        '500':
          $ref: '#/components/responses/ErrorResponse500'
  /expirationchain:
    get:
      tags:
        - Option Expiration Chain
      summary: Get option expiration chain for an optionable symbol
      description: >-
        Get Option Expiration (Series) information for an optionable symbol. 
        Does not include individual options contracts for the underlying.
      operationId: getExpirationChain
      parameters:
        - $ref: '#/components/parameters/QueryParamSymbol'
      responses:
        '200':
          description: The Expiration Chain for the symbol was returned successfully.
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpirationChain'
              examples:
                GetExpirationChain:
                  $ref: '#/components/examples/GetExpirationChain'
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '401':
          $ref: '#/components/responses/ErrorResponse401'
        '404':
          $ref: '#/components/responses/ErrorResponse404'
        '500':
          $ref: '#/components/responses/ErrorResponse500'
  /pricehistory:
    get:
      summary: Get PriceHistory for a single symbol and date ranges.
      description: >-
        Get historical Open, High, Low, Close, and Volume for a given frequency
        (i.e. aggregation).  Frequency available is dependent on periodType
        selected.  The datetime format is in EPOCH milliseconds.
      operationId: getPriceHistory
      tags:
        - PriceHistory
      parameters:
        - $ref: '#/components/parameters/QueryParamsymbol'
        - $ref: '#/components/parameters/QueryParamperiodtype'
        - $ref: '#/components/parameters/QueryParamperiod'
        - $ref: '#/components/parameters/QueryParamfrequencytype'
        - $ref: '#/components/parameters/QueryParamfrequency'
        - $ref: '#/components/parameters/QueryParamstartdate'
        - $ref: '#/components/parameters/QueryParamenddate'
        - $ref: '#/components/parameters/QueryParamneedextendedhoursdata'
        - $ref: '#/components/parameters/QueryParamneedpreviousclose'
      responses:
        '200':
          description: Get all candles for given date range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandleList'
              examples:
                SingleSymbolCriteriaSearch:
                  $ref: '#/components/examples/SingleSymbolCriteriaSearch'
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '401':
          $ref: '#/components/responses/ErrorResponse401'
        '404':
          $ref: '#/components/responses/ErrorResponse404'
        '500':
          $ref: '#/components/responses/ErrorResponse500'
  /movers/{symbol_id}:
    get:
      summary: Get Movers for a specific index.
      description: Get a list of top 10 securities movement for a specific index.
      operationId: getMovers
      tags:
        - Movers
      parameters:
        - $ref: '#/components/parameters/PathParamSymbol'
        - $ref: '#/components/parameters/QueryParamSort'
        - $ref: '#/components/parameters/QueryParamFrequency'
      responses:
        '200':
          description: Analytics for the symbol was returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  screeners:
                    type: array
                    items:
                      $ref: '#/components/schemas/Screener'
              examples:
                SearchMoversByIndexSymbol:
                  $ref: '#/components/examples/SearchMoversByIndexSymbol'
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '401':
          $ref: '#/components/responses/ErrorResponse401'
        '404':
          $ref: '#/components/responses/ErrorResponse404'
        '500':
          $ref: '#/components/responses/ErrorResponse500'
  /markets:
    get:
      summary: Get Market Hours for different markets.
      description: Get Market Hours for dates in the future across different markets.
      operationId: getMarketHours
      tags:
        - MarketHours
      parameters:
        - $ref: '#/components/parameters/QueryParamMarkets'
        - $ref: '#/components/parameters/QueryParamDate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/Hours'
              examples:
                GetMarketHours:
                  $ref: '#/components/examples/GetMarketHours'
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/SchwabClientCorrelId'
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '401':
          $ref: '#/components/responses/ErrorResponse401'
        '500':
          $ref: '#/components/responses/ErrorResponse500'
  /markets/{market_id}:
    get:
      summary: Get Market Hours for a single market.
      description: Get Market Hours for dates in the future for a single market.
      operationId: getMarketHour
      tags:
        - MarketHours
      parameters:
        - $ref: '#/components/parameters/PathParamMarket'
        - $ref: '#/components/parameters/QueryParamDate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/Hours'
              examples:
                GetMarketHour:
                  $ref: '#/components/examples/GetMarketHour'
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/SchwabClientCorrelId'
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '401':
          $ref: '#/components/responses/ErrorResponse401'
        '404':
          $ref: '#/components/responses/ErrorResponse404'
        '500':
          $ref: '#/components/responses/ErrorResponse500'
  /instruments:
    get:
      summary: Get Instruments by symbols and projections.
      description: >-
        Get Instruments details by using different projections.  Get more
        specific fundamental instrument data by using fundamental as the
        projection.
      operationId: getInstruments
      tags:
        - Instruments
      parameters:
        - $ref: '#/components/parameters/QueryParamSsymbol'
        - $ref: '#/components/parameters/QueryParamprojection'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  instruments:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstrumentResponse'
              examples:
                GetInstruments:
                  $ref: '#/components/examples/GetInstruments'
          headers:
            Schwab-Resource-Version:
              description: Used to identify desired and returned version of an API resource
              schema:
                type: integer
                format: int32
                example: 3
              required: true
            Schwab-Client-CorrelId:
              description: >-
                Used to identify an individual request throughout the lifetime
                of the request and across systems.
              schema:
                type: string
                example: 0a7f446a-7d74-49c8-a1e5-ca8ed59a3386
              required: true
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '401':
          $ref: '#/components/responses/ErrorResponse401'
        '500':
          $ref: '#/components/responses/ErrorResponse500'
  /instruments/{cusip_id}:
    get:
      summary: Get Instrument by specific cusip
      description: Get basic instrument details by cusip
      operationId: getInstrumentsByCusip
      tags:
        - Instruments
      parameters:
        - $ref: '#/components/parameters/PathParamCusip'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentResponse'
              examples:
                GetInstrumentByCusip:
                  $ref: '#/components/examples/GetInstrumentByCusip'
          headers:
            Schwab-Resource-Version:
              description: Used to identify desired and returned version of an API resource
              schema:
                type: integer
                format: int32
                example: 3
              required: true
            Schwab-Client-CorrelId:
              description: >-
                Used to identify an individual request throughout the lifetime
                of the request and across systems.
              schema:
                type: string
                example: 0a7f446a-7d74-49c8-a1e5-ca8ed59a3386
              required: true
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '401':
          $ref: '#/components/responses/ErrorResponse401'
        '404':
          $ref: '#/components/responses/ErrorResponse404'
        '500':
          $ref: '#/components/responses/ErrorResponse500'
components:
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: >-
            https://api.schwabapi.com/v1/oauth/authorize?response_type=code&client_id=fnB6k1X6JSFlQHravRt6T9m86AZlkD04&scope=readonly&redirect_uri=https://developer.schwab.com/oauth2-redirect.html
          tokenUrl: https://api.schwabapi.com/v1/oauth/token
          scopes: {}
  examples:
    GetInstruments:
      summary: symbol=AAPL,BAC&projection=symbol-search
      value:
        instruments:
          - cusip: '037833100'
            symbol: AAPL
            description: Apple Inc
            exchange: NASDAQ
            assetType: EQUITY
          - cusip: '060505104'
            symbol: BAC
            description: Bank Of America Corp
            exchange: NYSE
            assetType: EQUITY
    GetInstrumentByCusip:
      summary: Get getinstruments for cusip
      value:
        cusip: '037833100'
        symbol: AAPL
        description: Apple Inc
        exchange: NASDAQ
        assetType: EQUITY
    GetMarketHour:
      summary: Get market hours for equity market
      value:
        equity:
          EQ:
            date: '2022-04-14'
            marketType: EQUITY
            exchange: 'NULL'
            category: 'NULL'
            product: EQ
            productName: equity
            isOpen: true
            sessionHours:
              preMarket:
                - start: '2022-04-14T07:00:00-04:00'
                  end: '2022-04-14T09:30:00-04:00'
              regularMarket:
                - start: '2022-04-14T09:30:00-04:00'
                  end: '2022-04-14T16:00:00-04:00'
              postMarket:
                - start: '2022-04-14T16:00:00-04:00'
                  end: '2022-04-14T20:00:00-04:00'
    GetMarketHours:
      summary: Get getMarketHours for EQUITY and OPTION
      value:
        equity:
          EQ:
            date: '2022-04-14'
            marketType: EQUITY
            product: EQ
            productName: equity
            isOpen: true
            sessionHours:
              preMarket:
                - start: '2022-04-14T07:00:00-04:00'
                  end: '2022-04-14T09:30:00-04:00'
              regularMarket:
                - start: '2022-04-14T09:30:00-04:00'
                  end: '2022-04-14T16:00:00-04:00'
              postMarket:
                - start: '2022-04-14T16:00:00-04:00'
                  end: '2022-04-14T20:00:00-04:00'
        option:
          EQO:
            date: '2022-04-14'
            marketType: OPTION
            product: EQO
            productName: equity option
            isOpen: true
            sessionHours:
              regularMarket:
                - start: '2022-04-14T09:30:00-04:00'
                  end: '2022-04-14T16:00:00-04:00'
          IND:
            date: '2022-04-14'
            marketType: OPTION
            product: IND
            productName: index option
            isOpen: true
            sessionHours:
              regularMarket:
                - start: '2022-04-14T09:30:00-04:00'
                  end: '2022-04-14T16:15:00-04:00'
    SearchMoversByIndexSymbol:
      summary: Search by "$DJI"
      value:
        screeners:
          - change: 10
            description: Dow jones
            direction: up
            last: 100
            symbol: $DJI
            totalVolume: 100
          - change: 10
            description: Dow jones
            direction: up
            last: 100
            symbol: $DJI
            totalVolume: 100
          - change: 10
            description: Dow jones
            direction: up
            last: 100
            symbol: $DJI
            totalVolume: 100
    SingleSymbolCriteriaSearch:
      summary: Search by symbol AAPL
      value:
        symbol: AAPL
        empty: false
        previousClose: 174.56
        previousCloseDate: 1639029600000
        candles:
          - open: 175.01
            high: 175.15
            low: 175.01
            close: 175.04
            volume: 10719
            datetime: 1639137600000
          - open: 175.08
            high: 175.09
            low: 175.05
            close: 175.05
            volume: 500
            datetime: 1639137660000
          - open: 176.22
            high: 176.27
            low: 176.22
            close: 176.25
            volume: 3395
            datetime: 1640307300000
          - open: 176.26
            high: 176.27
            low: 176.26
            close: 176.26
            volume: 2174
            datetime: 1640307360000
          - open: 176.26
            high: 176.31
            low: 176.26
            close: 176.3
            volume: 15401
            datetime: 1640307420000
          - open: 176.3
            high: 176.3
            low: 176.3
            close: 176.3
            volume: 1700
            datetime: 1640307480000
          - open: 176.3
            high: 176.5
            low: 176.3
            close: 176.32
            volume: 5941
            datetime: 1640307540000
    GetExpirationChain:
      summary: Get ExpirationChain for AAPL
      value:
        expirationList:
          - expirationDate: '2022-01-07'
            daysToExpiration: 2
            expirationType: W
            standard: true
          - expirationDate: '2022-01-14'
            daysToExpiration: 9
            expirationType: W
            standard: true
          - expirationDate: '2022-01-21'
            daysToExpiration: 16
            expirationType: S
            standard: true
          - expirationDate: '2022-01-28'
            daysToExpiration: 23
            expirationType: W
            standard: true
          - expirationDate: '2022-02-04'
            daysToExpiration: 30
            expirationType: W
            standard: true
          - expirationDate: '2022-02-11'
            daysToExpiration: 37
            expirationType: W
            standard: true
          - expirationDate: '2022-02-18'
            daysToExpiration: 44
            expirationType: S
            standard: true
          - expirationDate: '2022-03-18'
            daysToExpiration: 72
            expirationType: S
            standard: true
          - expirationDate: '2022-04-14'
            daysToExpiration: 99
            expirationType: S
            standard: true
          - expirationDate: '2022-05-20'
            daysToExpiration: 135
            expirationType: S
            standard: true
          - expirationDate: '2022-06-17'
            daysToExpiration: 163
            expirationType: S
            standard: true
          - expirationDate: '2022-07-15'
            daysToExpiration: 191
            expirationType: S
            standard: true
          - expirationDate: '2022-09-16'
            daysToExpiration: 254
            expirationType: S
            standard: true
          - expirationDate: '2023-01-20'
            daysToExpiration: 380
            expirationType: S
            standard: true
          - expirationDate: '2023-03-17'
            daysToExpiration: 436
            expirationType: S
            standard: true
          - expirationDate: '2023-06-16'
            daysToExpiration: 527
            expirationType: S
            standard: true
          - expirationDate: '2023-09-15'
            daysToExpiration: 618
            expirationType: S
            standard: true
          - expirationDate: '2024-01-19'
            daysToExpiration: 744
            expirationType: S
            standard: true
    MultiCriteriaSearch:
      summary: Search by Symbols+Cusips+SSIDs
      value:
        AAPL:
          assetMainType: EQUITY
          symbol: AAPL
          quoteType: NBBO
          realtime: true
          ssid: 1973757747
          reference:
            cusip: '037833100'
            description: Apple Inc
            exchange: Q
            exchangeName: NASDAQ
          quote:
            52WeekHigh: 169
            52WeekLow: 1.1
            askMICId: MEMX
            askPrice: 168.41
            askSize: 400
            askTime: 1644854683672
            bidMICId: IEGX
            bidPrice: 168.4
            bidSize: 400
            bidTime: 1644854683633
            closePrice: 177.57
            highPrice: 169
            lastMICId: XADF
            lastPrice: 168.405
            lastSize: 200
            lowPrice: 167.09
            mark: 168.405
            markChange: -9.164999999999992
            markPercentChange: -5.161344821760428
            netChange: -9.165
            netPercentChange: -5.161344821760428
            openPrice: 167.37
            quoteTime: 1644854683672
            securityStatus: Normal
            totalVolume: 22361159
            tradeTime: 1644854683408
            volatility: 0.0347
          regular:
            regularMarketLastPrice: 168.405
            regularMarketLastSize: 2
            regularMarketNetChange: -9.165
            regularMarketPercentChange: -5.161344821760428
            regularMarketTradeTime: 1644854683408
          fundamental:
            avg10DaysVolume: 1
            avg1YearVolume: 0
            divAmount: 1.1
            divFreq: 0
            divPayAmount: 0
            divYield: 1.1
            eps: 0
            fundLeverageFactor: 1.1
            peRatio: 1.1
        AAAIX:
          assetMainType: MUTUAL_FUND
          symbol: AAAIX
          realtime: true
          ssid: -1
          reference:
            cusip: '025085853'
            description: 'American Century Strategic Allocation: Aggressive Fund - I Class'
            exchange: '3'
            exchangeName: Mutual Fund
          quote:
            52WeekHigh: 9.24
            52WeekLow: 7.48
            closePrice: 9.12
            nAV: 0
            netChange: -0.03
            netPercentChange: -0.32894736842104566
            securityStatus: Normal
            totalVolume: 0
            tradeTime: 0
          fundamental:
            avg10DaysVolume: 0
            avg1YearVolume: 0
            divAmount: 0
            divFreq: 0
            divPayAmount: 0
            divYield: 0.83059
            eps: 0
            fundLeverageFactor: 0
            peRatio: 0
        AAAHX:
          assetMainType: MUTUAL_FUND
          symbol: AAAHX
          realtime: true
          ssid: -1
          reference:
            cusip: 02507J789
            description: One Choice Blend+ 2015 Portfolio  I Class
            exchange: '3'
            exchangeName: Mutual Fund
          quote:
            52WeekHigh: 10.64
            52WeekLow: 9.95
            closePrice: 10.53
            nAV: 0
            netChange: 0
            netPercentChange: 0
            securityStatus: Normal
            totalVolume: 0
            tradeTime: 0
          fundamental:
            avg10DaysVolume: 0
            avg1YearVolume: 0
            divAmount: 0
            divFreq: 0
            divPayAmount: 0
            divYield: 0
            eps: 0
            fundLeverageFactor: 0
            peRatio: 0
        BAC:
          assetMainType: EQUITY
          symbol: BAC
          quoteType: NBBO
          realtime: true
          ssid: 851234497
          reference:
            cusip: '060505104'
            description: Bank Of America Corp
            exchange: 'N'
            exchangeName: NYSE
          quote:
            52WeekHigh: 48.185
            52WeekLow: 22.95
            askMICId: XNYS
            askPrice: 47.2
            askSize: 2100
            askTime: 1644854683639
            bidMICId: XNYS
            bidPrice: 47.19
            bidSize: 3700
            bidTime: 1644854683640
            closePrice: 44.49
            highPrice: 48.185
            lastMICId: ARCX
            lastPrice: 47.195
            lastSize: 200
            lowPrice: 47.06
            mark: 47.195
            markChange: 2.7049999999999983
            markPercentChange: 6.080017981568888
            netChange: 2.705
            netPercentChange: 6.080017981568888
            openPrice: 48.02
            quoteTime: 1644854683640
            securityStatus: Normal
            totalVolume: 13573182
            tradeTime: 1644854683638
            volatility: 0.0206
          regular:
            regularMarketLastPrice: 47.195
            regularMarketLastSize: 2
            regularMarketNetChange: 2.705
            regularMarketPercentChange: 6.080017981568888
            regularMarketTradeTime: 1644854683638
          fundamental:
            avg10DaysVolume: 43411957
            avg1YearVolume: 40653250
            declarationDate: '2021-07-21T05:00:00Z'
            divAmount: 0.75
            divExDate: '2021-09-02T05:00:00Z'
            divFreq: 4
            divPayAmount: 0.75
            divPayDate: '2021-09-24T05:00:00Z'
            divYield: 1.77
            eps: 2.996
            fundLeverageFactor: 0
            nextDivExDate: '2021-12-27T06:00:00Z'
            nextDivPayDate: '2021-12-27T06:00:00Z'
            peRatio: 13.50133
        $SPX:
          assetMainType: INDEX
          symbol: $SPX
          realtime: true
          ssid: 1819771877
          reference:
            description: S&P DOW JONES INDEX            S&P 500
            exchange: '0'
            exchangeName: Index
          quote:
            52WeekHigh: 4423.46
            52WeekLow: 4385.52
            closePrice: 4766.18
            highPrice: 4423.46
            lastPrice: 4396.2
            lowPrice: 4385.52
            netChange: -369.98
            netPercentChange: -7.762610728088331
            openPrice: 4412.61
            securityStatus: Unknown
            totalVolume: 628009977
            tradeTime: 1644854683056
        MRAD:
          assetMainType: EQUITY
          assetSubType: ETF
          symbol: MRAD
          quoteType: NBBO
          realtime: true
          ssid: 67229687
          reference:
            cusip: '402031868'
            description: Guinness Atkinson Fds SMART ETFS ADVERTISING MKT TCH ETF
            exchange: P
            exchangeName: NYSE Arca
          quote:
            52WeekHigh: 31.96
            52WeekLow: 22.18
            askMICId: IEGX
            askPrice: 22.29
            askSize: 500
            askTime: 1644854676848
            bidMICId: EDGX
            bidPrice: 22.22
            bidSize: 500
            bidTime: 1644854681062
            closePrice: 26.8633
            highPrice: 22.18
            lastPrice: 22.18
            lastSize: 100
            lowPrice: 22.18
            mark: 22.22
            markChange: -4.6433
            markPercentChange: -17.284920318799255
            netChange: -4.6833
            netPercentChange: -17.433822352428777
            openPrice: 22.18
            quoteTime: 1644854681062
            securityStatus: Normal
            totalVolume: 100
            tradeTime: 1644851921969
            volatility: 0
          regular:
            regularMarketLastPrice: 22.18
            regularMarketLastSize: 1
            regularMarketNetChange: -4.6833
            regularMarketPercentChange: -17.433822352428777
            regularMarketTradeTime: 1644851921969
          fundamental:
            avg10DaysVolume: 1606
            avg1YearVolume: 0
            divAmount: 0
            divFreq: 0
            divPayAmount: 0
            divYield: 0
            eps: 0
            fundLeverageFactor: 0
            fundStrategy: A
            peRatio: 0
        EBIZ:
          assetMainType: EQUITY
          assetSubType: ETF
          symbol: EBIZ
          quoteType: NBBO
          realtime: true
          ssid: 52313178
          reference:
            cusip: 37954Y467
            description: GLOBAL X E-COMMERCE ETF
            exchange: Q
            exchangeName: NASDAQ
          quote:
            52WeekHigh: 37.9754
            52WeekLow: 24.52
            askMICId: XNAS
            askPrice: 24.85
            askSize: 200
            askTime: 1644854683318
            bidMICId: XNAS
            bidPrice: 24.79
            bidSize: 200
            bidTime: 1644854683318
            closePrice: 27.45
            highPrice: 24.8303
            lastMICId: XADF
            lastPrice: 24.8303
            lastSize: 100
            lowPrice: 24.52
            mark: 24.8303
            markChange: -2.619699999999998
            markPercentChange: -9.543533697632052
            netChange: -2.6197
            netPercentChange: -9.543533697632052
            openPrice: 24.55
            quoteTime: 1644854683318
            securityStatus: Normal
            totalVolume: 1626
            tradeTime: 1644850278470
            volatility: 0
          regular:
            regularMarketLastPrice: 24.8303
            regularMarketLastSize: 1
            regularMarketNetChange: -2.6197
            regularMarketPercentChange: -9.543533697632052
            regularMarketTradeTime: 1644850278470
          fundamental:
            avg10DaysVolume: 0
            avg1YearVolume: 0
            declarationDate: '2020-12-29T06:00:00Z'
            divAmount: 0
            divExDate: '2020-12-30T06:00:00Z'
            divFreq: 1
            divPayAmount: 0.26641
            divPayDate: '2021-01-08T06:00:00Z'
            divYield: 0.88276
            eps: 0
            fundLeverageFactor: 0
            fundStrategy: P
            nextDivExDate: '2022-01-10T06:00:00Z'
            nextDivPayDate: '2022-01-10T06:00:00Z'
            peRatio: 0
        $DJI:
          assetMainType: INDEX
          symbol: $DJI
          realtime: true
          ssid: 0
          reference:
            description: Dow Jones Industrial Average
            exchange: '0'
            exchangeName: Index
          quote:
            52WeekHigh: 34744.56
            52WeekLow: 34364.39
            closePrice: 34738.06
            highPrice: 34744.56
            lastPrice: 34436.13
            lowPrice: 34364.39
            netChange: -301.93
            netPercentChange: -0.8691619508976618
            openPrice: 34694.5
            securityStatus: Unknown
            totalVolume: 106647543
            tradeTime: 1644854683055
        AMZN  220617C03170000:
          assetMainType: OPTION
          symbol: AMZN  220617C03170000
          realtime: true
          ssid: 72507798
          reference:
            contractType: C
            daysToExpiration: 123
            description: Amazon.com Inc 06/17/2022 $3170 Call
            exchange: o
            exchangeName: OPR
            expirationDay: 17
            expirationMonth: 6
            expirationYear: 2022
            isPennyPilot: true
            lastTradingDay: 1655510400000
            multiplier: 100
            settlementType: P
            strikePrice: 3170
            underlying: AMZN
            uvExpirationType: S
          quote:
            askPrice: 223
            askSize: 2
            askTime: 0
            bidPrice: 217.65
            bidSize: 2
            bidTime: 0
            closePrice: 357.75
            delta: 0.5106
            gamma: 0.0007
            highPrice: 0
            impliedYield: 0.042
            indAskPrice: 0
            indBidPrice: 0
            indQuoteTime: 0
            lastPrice: 0
            lastSize: 0
            lowPrice: 0
            mark: 220.325
            markChange: -137.425
            markPercentChange: -38.41369671558351
            moneyIntrinsicValue: -40.795
            netChange: 0
            netPercentChange: 0
            openInterest: 0
            openPrice: 0
            quoteTime: 1644854683379
            rho: 4.5173
            securityStatus: Normal
            theoreticalOptionValue: 221.4
            theta: -0.9619
            timeValue: 220.325
            totalVolume: 0
            tradeTime: 0
            underlyingPrice: 3129.205
            vega: 7.1633
            volatility: 32.8918
        DJX   231215C00290000:
          assetMainType: OPTION
          symbol: DJX   231215C00290000
          realtime: true
          ssid: 69272575
          reference:
            contractType: C
            daysToExpiration: 669
            description: DOW JONES INDUS IND 12/15/2023 $290 Call
            exchange: o
            exchangeName: OPR
            expirationDay: 15
            expirationMonth: 12
            expirationYear: 2023
            isPennyPilot: true
            lastTradingDay: 1702602000000
            multiplier: 100
            settlementType: A
            strikePrice: 290
            underlying: $DJX
            uvExpirationType: S
          quote:
            askPrice: 76.95
            askSize: 11
            askTime: 0
            bidPrice: 70.9
            bidSize: 11
            bidTime: 0
            closePrice: 86.2
            delta: 0
            gamma: 0
            highPrice: 0
            impliedYield: 0
            indAskPrice: 79.55
            indBidPrice: 73.25
            indQuoteTime: 1644614546536
            lastPrice: 0
            lastSize: 0
            lowPrice: 0
            mark: 73.925
            markChange: -12.274999999999991
            markPercentChange: -14.24013921113688
            moneyIntrinsicValue: 0
            netChange: 0
            netPercentChange: 0
            openInterest: 0
            openPrice: 0
            quoteTime: 1644854648305
            rho: 0
            securityStatus: Normal
            theoreticalOptionValue: 0
            theta: 0
            timeValue: 0
            totalVolume: 0
            tradeTime: 0
            underlyingPrice: 0
            vega: -999
            volatility: 0
        TOITF:
          assetMainType: EQUITY
          symbol: TOITF
          quoteType: NBBO
          realtime: true
          ssid: 68444487
          reference:
            cusip: 89072T102
            description: TOPICUS COM INC
            exchange: '9'
            exchangeName: OTC Markets
            otcMarketTier: PC
          quote:
            52WeekHigh: 75.702
            52WeekLow: 45.3933
            askPrice: 75.978
            askSize: 10000
            askTime: 1644849000209
            bidPrice: 72.5951
            bidSize: 10000
            bidTime: 1644849000209
            closePrice: 92.7
            highPrice: 75.702
            lastPrice: 75.702
            lastSize: 100
            lowPrice: 72.5478
            mark: 75.702
            netChange: -16.998
            openPrice: 74.8977
            quoteTime: 1644854676927
            securityStatus: Normal
            totalVolume: 4274
            tradeTime: 1644854585000
            volatility: 0
          regular:
            regularMarketLastPrice: 75.702
            regularMarketLastSize: 1
            regularMarketNetChange: -16.998
            regularMarketTradeTime: 1644854585000
        EATOF:
          assetMainType: EQUITY
          assetSubType: ETF
          symbol: EATOF
          quoteType: NBBO
          realtime: true
          ssid: 43253301
          reference:
            cusip: 30052J102
            description: EVOLVE AUTMBL INVTN INDX ETF
            exchange: '9'
            exchangeName: OTC Markets
            otcMarketTier: EM
          quote:
            52WeekHigh: 47.1993
            52WeekLow: 24.2835
            askPrice: 33.1512
            askSize: 400000
            askTime: 1644849000044
            bidPrice: 33.0487
            bidSize: 250000
            bidTime: 1644849000044
            closePrice: 40.198
            highPrice: 33.1196
            lastPrice: 33.1196
            lastSize: 200
            lowPrice: 32.82
            mark: 33.1196
            netChange: -7.0784
            openPrice: 32.82
            quoteTime: 1644854660496
            securityStatus: Normal
            totalVolume: 1017
            tradeTime: 1644850274000
            volatility: 0
          regular:
            regularMarketLastPrice: 33.1196
            regularMarketLastSize: 2
            regularMarketNetChange: -7.0784
            regularMarketTradeTime: 1644850274000
        CNSWF:
          assetMainType: EQUITY
          symbol: CNSWF
          quoteType: NBBO
          realtime: true
          ssid: 807850646
          reference:
            cusip: 21037X100
            description: Constellation Softwr
            exchange: '9'
            exchangeName: OTC Markets
            otcMarketTier: PC
          quote:
            52WeekHigh: 1709.738
            52WeekLow: 904.0901
            askPrice: 1693.4699
            askSize: 30000
            askTime: 1644849000567
            bidPrice: 1688.4547
            bidSize: 20000
            bidTime: 1644849000567
            closePrice: 1856.4626
            highPrice: 1709.738
            lastPrice: 1693.4541
            lastSize: 100
            lowPrice: 1680.1511
            mark: 1693.4541
            netChange: -163.0084
            openPrice: 1682.0121
            quoteTime: 1644854655233
            securityStatus: Normal
            totalVolume: 13901
            tradeTime: 1644854560000
            volatility: 0
          regular:
            regularMarketLastPrice: 1693.4541
            regularMarketLastSize: 1
            regularMarketNetChange: -163.0084
            regularMarketTradeTime: 1644854560000
        MVEN:
          assetMainType: EQUITY
          symbol: MVEN
          quoteType: NBBO
          realtime: true
          ssid: 39225080
          reference:
            cusip: 88339B102
            description: Themaven Inc
            exchange: u
            exchangeName: Nasdaq OTCBB
            otcMarketTier: QX
          quote:
            52WeekHigh: 3
            52WeekLow: 0.42
            askPrice: 0
            askSize: 0
            askTime: 0
            bidPrice: 0
            bidSize: 0
            bidTime: 0
            closePrice: 13.42
            highPrice: 0
            lastPrice: 0.42
            lastSize: 0
            lowPrice: 0
            mark: 0.42
            markChange: -13
            markPercentChange: -96.87034277198212
            netChange: -13
            netPercentChange: -96.87034277198212
            openPrice: 0
            quoteTime: 0
            securityStatus: Normal
            totalVolume: 0
            tradeTime: 1644353952708
            volatility: 0
          regular:
            regularMarketLastPrice: 0.42
            regularMarketLastSize: 0
            regularMarketNetChange: -13
            regularMarketPercentChange: -96.87034277198212
            regularMarketTradeTime: 1644353952708
          fundamental:
            avg10DaysVolume: 299530
            avg1YearVolume: 430760
            divAmount: 0
            divFreq: 0
            divPayAmount: 0
            divYield: 0
            eps: 0
            fundLeverageFactor: 0
            peRatio: -0.68777
        SOBS:
          assetMainType: EQUITY
          symbol: SOBS
          quoteType: NBBO
          realtime: true
          ssid: 561081427
          reference:
            cusip: 83441Q105
            description: Solvay Bank Corp Sol
            exchange: '9'
            exchangeName: OTC Markets
            otcMarketTier: PC
          quote:
            52WeekHigh: 43
            52WeekLow: 30.28
            askPrice: 45
            askSize: 200
            askTime: 0
            bidPrice: 39
            bidSize: 100
            bidTime: 0
            closePrice: 38.219
            highPrice: 0
            lastPrice: 38.219
            lastSize: 0
            lowPrice: 0
            mark: 38.219
            markChange: 0
            markPercentChange: 0
            netChange: 0
            netPercentChange: 0
            openPrice: 0
            quoteTime: 1644613200189
            securityStatus: Normal
            totalVolume: 0
            tradeTime: 0
            volatility: 0
          regular:
            regularMarketLastPrice: 38.219
            regularMarketLastSize: 0
            regularMarketNetChange: 0
            regularMarketPercentChange: 0
            regularMarketTradeTime: 0
          fundamental:
            avg10DaysVolume: 1296
            avg1YearVolume: 0
            declarationDate: '2021-09-21T05:00:00Z'
            divAmount: 1.48
            divExDate: '2021-09-30T05:00:00Z'
            divFreq: 4
            divPayAmount: 1.47
            divPayDate: '2021-10-29T05:00:00Z'
            divYield: 3.869
            eps: 0
            fundLeverageFactor: 0
            nextDivExDate: '2022-01-31T06:00:00Z'
            nextDivPayDate: '2022-01-31T06:00:00Z'
            peRatio: 0
        /ESZ21:
          assetMainType: FUTURE
          symbol: /ESZ21
          realtime: true
          ssid: 0
          reference:
            description: E-mini S&P 500 Index Futures,Dec-2021,ETH
            exchange: '@'
            exchangeName: XCME
            futureActiveSymbol: /ESZ21
            futureExpirationDate: 1639717200000
            futureIsActive: true
            futureIsTradable: true
            futureMultiplier: 50
            futurePriceFormat: D,D
            futureSettlementPrice: 4696
            futureTradingHours: GLBX(de=1640;0=-17001600;1=r-17001600d-15551640;7=d-16401555)
            product: /ES
          quote:
            askPrice: 4694.5
            askSize: 113
            askTime: 0
            bidPrice: 4694.25
            bidSize: 57
            bidTime: 0
            netChange: -1.5
            closePrice: 4696
            futurePercentChange: -0.0003
            highPrice: 4701
            lastPrice: 4694.5
            lastSize: 3
            lowPrice: 4679.25
            mark: 0
            openInterest: 2328678
            openPrice: 4696.5
            quoteTime: 1637168671400
            securityStatus: Unknown
            settleTime: 0
            tick: 0.25
            tickAmount: 12.5
            totalVolume: 550778
            tradeTime: 1637168671399
        EUR/USD:
          assetMainType: FOREX
          symbol: EUR/USD
          ssid: 1
          realtime: true
          reference:
            description: Euro/USDollar Spot
            exchange: T
            exchangeName: GFT
            isTradable: false
            marketMaker: ''
            product: ''
            tradingHours: ''
          quote:
            52WeekHigh: 1.135
            52WeekLow: 1.1331
            askPrice: 1.13456
            askSize: 1000000
            bidPrice: 1.13434
            bidSize: 1000000
            netChange: 0.00254
            closePrice: 1.13191
            highPrice: 1.135
            lastPrice: 1.13445
            lastSize: 0
            lowPrice: 1.1331
            mark: 1.13445
            openPrice: 1.13324
            netPercentChange: 0
            quoteTime: 1637236739892
            securityStatus: Unknown
            tick: 0
            tickAmount: 0
            totalVolume: 0
            tradeTime: 1637236739892
  parameters:
    PathParamCusip:
      name: cusip_id
      description: cusip of a security
      in: path
      required: true
      schema:
        type: string
    QueryParamSsymbol:
      name: symbol
      description: symbol of a security
      in: query
      required: true
      schema:
        type: string
    QueryParamprojection:
      name: projection
      in: query
      description: search by
      required: true
      schema:
        type: string
        enum:
          - symbol-search
          - symbol-regex
          - desc-search
          - desc-regex
          - search
          - fundamental
    QueryParamMarkets:
      name: markets
      description: List of markets
      in: query
      required: true
      schema:
        uniqueItems: true
        type: array
        items:
          type: string
          enum:
            - equity
            - option
            - bond
            - future
            - forex
    PathParamMarket:
      name: market_id
      description: market id
      in: path
      required: true
      schema:
        type: string
        enum:
          - equity
          - option
          - bond
          - future
          - forex
    QueryParamDate:
      name: date
      in: query
      description: >-
        Valid date range is from currentdate to 1 year from today. It will
        default to current day if not entered. Date format:YYYY-MM-DD
      required: false
      schema:
        type: string
        format: date
    PathParamSymbol:
      name: symbol_id
      in: path
      description: Index Symbol
      example: $DJI
      required: true
      schema:
        type: string
        enum:
          - $DJI
          - $COMPX
          - $SPX
          - NYSE
          - NASDAQ
          - OTCBB
          - INDEX_ALL
          - EQUITY_ALL
          - OPTION_ALL
          - OPTION_PUT
          - OPTION_CALL
    QueryParamSort:
      name: sort
      in: query
      description: Sort by a particular attribute
      required: false
      example: VOLUME
      schema:
        type: string
        enum:
          - VOLUME
          - TRADES
          - PERCENT_CHANGE_UP
          - PERCENT_CHANGE_DOWN
    QueryParamFrequency:
      name: frequency
      in: query
      description: To return movers with the specified directions of up or down
      required: false
      schema:
        type: integer
        format: int32
        default: 0
        enum:
          - 0
          - 1
          - 5
          - 10
          - 30
          - 60
    QueryParamsymbol:
      in: query
      name: symbol
      description: The Equity symbol used to look up price history
      required: true
      example: AAPL
      schema:
        type: string
    QueryParamperiodtype:
      in: query
      name: periodType
      description: The chart period being requested.
      required: false
      schema:
        type: string
        enum:
          - day
          - month
          - year
          - ytd
    QueryParamperiod:
      in: query
      name: period
      description: >-
        The number of chart period types.<br><br> If the periodType is <br>
        &#8226; <b>day</b> - valid values are 1, 2, 3, 4, 5, 10<br> &#8226;
        <b>month</b> - valid values are 1, 2, 3, 6<br> &#8226; <b>year</b> -
        valid values are 1, 2, 3, 5, 10, 15, 20<br> &#8226; <b>ytd</b> - valid
        values are 1<br><br> If   the period is not specified and the periodType
        is<br> &#8226; <b>day</b> - default period is 10.<br> &#8226;
        <b>month</b> - default period is 1.<br> &#8226; <b>year</b> - default
        period is 1.<br> &#8226; <b>ytd</b> - default period is 1.<br>
      required: false
      schema:
        type: integer
        format: int32
    QueryParamfrequencytype:
      in: query
      name: frequencyType
      description: >-
        The time frequencyType<br><br> If the periodType is <br> &#8226;
        <b>day</b> - valid value is minute<br> &#8226; <b>month</b> - valid
        values are daily, weekly<br> &#8226; <b>year</b> - valid values are
        daily, weekly, monthly<br> &#8226; <b>ytd</b> - valid values are daily,
        weekly<br><br> If frequencyType  is not specified, default value depends
        on the periodType<br> &#8226; <b>day</b> - defaulted to minute.<br>
        &#8226; <b>month</b> - defaulted to weekly.<br> &#8226; <b>year</b> -
        defaulted to monthly.<br> &#8226; <b>ytd</b> - defaulted to weekly.<br>
      required: false
      schema:
        type: string
        enum:
          - minute
          - daily
          - weekly
          - monthly
    QueryParamfrequency:
      in: query
      name: frequency
      description: >-
        The time frequency duration<br><br> If the frequencyType is <br> &#8226;
        <b>minute</b> - valid values are 1, 5, 10, 15, 30<br> &#8226;
        <b>daily</b> - valid value is 1<br> &#8226; <b>weekly</b> - valid value
        is 1<br> &#8226; <b>monthly</b> - valid value is 1<br><br> If frequency 
        is not specified, default value is <b>1</b><br>
      required: false
      schema:
        type: integer
        format: int32
    QueryParamstartdate:
      in: query
      name: startDate
      description: >-
        The start date, Time   in milliseconds since the UNIX epoch eg
        1451624400000<br>If not   specified startDate will be (endDate - period)
        excluding weekends and holidays.
      required: false
      schema:
        type: integer
        format: int64
    QueryParamenddate:
      in: query
      name: endDate
      description: >-
        The end date, Time   in milliseconds since the UNIX epoch eg
        1451624400000<br> If not   specified, the endDate will default to the
        market close of previous business day.
      required: false
      schema:
        type: integer
        format: int64
    QueryParamneedextendedhoursdata:
      in: query
      name: needExtendedHoursData
      description: Need extended hours data
      required: false
      schema:
        type: boolean
    QueryParamneedpreviousclose:
      in: query
      name: needPreviousClose
      description: Need previous close price/date
      required: false
      schema:
        type: boolean
    header-resource-version:
      name: Schwab-Resource-Version
      in: header
      description: This is the *requested API version*.
      schema:
        type: string
        example: '1'
      required: true
    header-correlid:
      name: Schwab-Client-CorrelId
      in: header
      description: >-
        This **Correlation ID** is unique to the operation. The GUID that is
        generated can be used to track an individual service call if support is
        needed.
      required: true
      schema:
        type: string
        example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
    header-apmid:
      name: Schwab-Client-AppId
      in: header
      description: APM ID to identify client uniqueid
      required: true
      schema:
        type: string
        maxLength: 10
        example: AD00001234
    header-channelid:
      name: Schwab-Client-Channel
      in: header
      description: Identifies the channel (2 letter code).
      required: true
      schema:
        type: string
        maxLength: 2
        minLength: 2
        example: Y2
    header-functionid:
      in: header
      name: Schwab-Client-FunctionId
      description: >-
        Identifies the page or source in the channel where quote is being called
        from. MDS will provide you the Function ID’s to use after getting a walk
        through of the pages needing MDS Quote data.
      required: true
      schema:
        type: string
        minLength: 5
        maxLength: 5
        example: TR123
    quotes-query-param-symbols:
      name: symbols
      in: query
      schema:
        type: string
      description: Comma separated list of symbol(s) to look up a quote
      example: >-
        MRAD,EATOF,EBIZ,AAPL,BAC,AAAHX,AAAIX,$DJI,$SPX,MVEN,SOBS,TOITF,CNSWF,AMZN 
        230317C01360000,DJX   231215C00290000,/ESH23,./ADUF23C0.55,AUD/CAD
      required: false
    quotes-query-param-cusips:
      name: cusips
      in: query
      schema:
        type: string
      description: Comma separated list of cusip(s) to look up a quote
      example: 808524680,594918104
      required: false
    quotes-query-param-ssids:
      name: ssids
      in: query
      schema:
        type: string
      description: >-
        Comma separated list of Schwab Unique Security Indetifier SSID(s) to
        look up a quote
      example: 1516105793,34621523
      required: false
    quotes-path-param-symbol:
      name: symbol_id
      in: path
      schema:
        type: string
      description: Symbol of instrument
      example: TSLA
      required: true
    quotes-query-param-realtime:
      name: realtime
      in: query
      schema:
        type: boolean
        enum:
          - true
          - false
      description: >-
        Only applicable if its Advisor token, returns realtime quotes and skip
        entitlement check
      example: true
    quotes-query-param-indicative:
      name: indicative
      in: query
      schema:
        type: boolean
        enum:
          - true
          - false
      description: >-
        Include indicative symbol quotes for all ETF symbols in request. If ETF
        symbol ABC is in request and indicative=true API will return quotes for
        ABC and its corresponding indicative quote for $ABC.IV
      example: false
    quotes-query-param-fields:
      name: fields
      in: query
      schema:
        type: string
        example: quote,reference
        default: all
      description: >-
        Request for subset of data by passing coma separated list of root nodes,
        possible root nodes are quote, fundamental, extended, reference,
        regular. Sending `quote, fundamental` in request will return quote and
        fundamental data in response. Dont send this attribute for full
        response.
      required: false
    QueryParamSymbol:
      name: symbol
      in: query
      description: Enter one symbol
      required: true
      schema:
        type: string
      example: AAPL
    QueryParamContractType:
      name: contractType
      in: query
      description: Contract Type
      required: false
      schema:
        type: string
        enum:
          - CALL
          - PUT
          - ALL
    QueryParamStrikeCount:
      name: strikeCount
      in: query
      description: The Number of strikes to return above or below the at-the-money price
      required: false
      schema:
        type: integer
    QueryParamIncludeQuotes:
      name: includeUnderlyingQuote
      in: query
      description: Underlying quotes to be included
      required: false
      schema:
        type: boolean
    QueryParamStrategy:
      name: strategy
      in: query
      description: >-
        OptionChain strategy. Default is SINGLE. ANALYTICAL allows the use of
        volatility, underlyingPrice, interestRate, and daysToExpiration params
        to calculate theoretical values.
      required: false
      schema:
        type: string
        enum:
          - SINGLE
          - ANALYTICAL
          - COVERED
          - VERTICAL
          - CALENDAR
          - STRANGLE
          - STRADDLE
          - BUTTERFLY
          - CONDOR
          - DIAGONAL
          - COLLAR
          - ROLL
    QueryParamInterval:
      name: interval
      in: query
      description: Strike interval for spread strategy chains (see strategy param)
      required: false
      schema:
        type: number
        format: double
    QueryParamStrikePrice:
      name: strike
      in: query
      description: Strike Price
      required: false
      schema:
        type: number
        format: double
    QueryParamRange:
      name: range
      in: query
      description: Range(ITM/NTM/OTM etc.)
      required: false
      schema:
        type: string
    QueryParamFromDate:
      name: fromDate
      in: query
      description: 'From date(pattern: yyyy-MM-dd)'
      required: false
      schema:
        type: string
        format: date
        pattern: ^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$
    QueryParamToDate:
      name: toDate
      in: query
      description: 'To date (pattern: yyyy-MM-dd)'
      required: false
      schema:
        type: string
        format: date
        pattern: ^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$
    QueryParamVolatility:
      name: volatility
      in: query
      description: >-
        Volatility to use in calculations.  Applies only to ANALYTICAL strategy
        chains (see strategy param)
      required: false
      schema:
        type: number
        format: double
    QueryParamUnderlyingPrice:
      name: underlyingPrice
      in: query
      description: >-
        Underlying price to use in calculations. Applies only to ANALYTICAL
        strategy chains (see strategy param)
      required: false
      schema:
        type: number
        format: double
    QueryParamDaysToExpiration:
      name: daysToExpiration
      in: query
      description: >-
        Days to expiration to use in calculations. Applies only to ANALYTICAL
        strategy chains (see strategy param)
      required: false
      schema:
        type: integer
        format: int32
    QueryParamInterestRate:
      name: interestRate
      in: query
      description: >-
        Interest rate to use in calculations. Applies only to ANALYTICAL
        strategy chains (see strategy param)
      required: false
      schema:
        type: number
        format: double
    QueryParamExpMonth:
      name: expMonth
      in: query
      description: Expiration month
      required: false
      schema:
        type: string
        enum:
          - JAN
          - FEB
          - MAR
          - APR
          - MAY
          - JUN
          - JUL
          - AUG
          - SEP
          - OCT
          - NOV
          - DEC
          - ALL
    QueryParamOptionType:
      name: optionType
      in: query
      description: Option Type
      required: false
      schema:
        type: string
    QueryParamIsRealTimeRequest:
      name: isRealTimeRequest
      in: query
      schema:
        type: boolean
        enum:
          - true
          - false
      description: >-
        Only applicable if its Advisor token, Get realtime Optionchain and skip
        entitlement check
      required: false
      example: true
    QueryParamEntitlement:
      name: entitlement
      in: query
      description: >-
        Applicable only if its retail token, entitlement of client PP-PayingPro,
        NP-NonPro and PN-NonPayingPro
      schema:
        type: string
        nullable: true
        enum:
          - PN
          - NP
          - PP
  schemas:
    Bond:
      type: object
      properties:
        cusip:
          type: string
        symbol:
          type: string
        description:
          type: string
        exchange:
          type: string
        assetType:
          type: string
          enum:
            - BOND
            - EQUITY
            - ETF
            - EXTENDED
            - FOREX
            - FUTURE
            - FUTURE_OPTION
            - FUNDAMENTAL
            - INDEX
            - INDICATOR
            - MUTUAL_FUND
            - OPTION
            - UNKNOWN
        bondFactor:
          type: string
        bondMultiplier:
          type: string
        bondPrice:
          type: number
        type:
          type: string
          writeOnly: true
          enum:
            - BOND
            - EQUITY
            - ETF
            - EXTENDED
            - FOREX
            - FUTURE
            - FUTURE_OPTION
            - FUNDAMENTAL
            - INDEX
            - INDICATOR
            - MUTUAL_FUND
            - OPTION
            - UNKNOWN
    FundamentalInst:
      type: object
      properties:
        symbol:
          type: string
        high52:
          type: number
          format: double
        low52:
          type: number
          format: double
        dividendAmount:
          type: number
          format: double
        dividendYield:
          type: number
          format: double
        dividendDate:
          type: string
        peRatio:
          type: number
          format: double
        pegRatio:
          type: number
          format: double
        pbRatio:
          type: number
          format: double
        prRatio:
          type: number
          format: double
        pcfRatio:
          type: number
          format: double
        grossMarginTTM:
          type: number
          format: double
        grossMarginMRQ:
          type: number
          format: double
        netProfitMarginTTM:
          type: number
          format: double
        netProfitMarginMRQ:
          type: number
          format: double
        operatingMarginTTM:
          type: number
          format: double
        operatingMarginMRQ:
          type: number
          format: double
        returnOnEquity:
          type: number
          format: double
        returnOnAssets:
          type: number
          format: double
        returnOnInvestment:
          type: number
          format: double
        quickRatio:
          type: number
          format: double
        currentRatio:
          type: number
          format: double
        interestCoverage:
          type: number
          format: double
        totalDebtToCapital:
          type: number
          format: double
        ltDebtToEquity:
          type: number
          format: double
        totalDebtToEquity:
          type: number
          format: double
        epsTTM:
          type: number
          format: double
        epsChangePercentTTM:
          type: number
          format: double
        epsChangeYear:
          type: number
          format: double
        epsChange:
          type: number
          format: double
        revChangeYear:
          type: number
          format: double
        revChangeTTM:
          type: number
          format: double
        revChangeIn:
          type: number
          format: double
        sharesOutstanding:
          type: number
          format: double
        marketCapFloat:
          type: number
          format: double
        marketCap:
          type: number
          format: double
        bookValuePerShare:
          type: number
          format: double
        shortIntToFloat:
          type: number
          format: double
        shortIntDayToCover:
          type: number
          format: double
        divGrowthRate3Year:
          type: number
          format: double
        dividendPayAmount:
          type: number
          format: double
        dividendPayDate:
          type: string
        beta:
          type: number
          format: double
        vol1DayAvg:
          type: number
          format: double
        vol10DayAvg:
          type: number
          format: double
        vol3MonthAvg:
          type: number
          format: double
        avg10DaysVolume:
          type: integer
          format: int64
        avg1DayVolume:
          type: integer
          format: int64
        avg3MonthVolume:
          type: integer
          format: int64
        declarationDate:
          type: string
        dividendFreq:
          type: integer
          format: int32
        eps:
          type: number
          format: double
        corpactionDate:
          type: string
        dtnVolume:
          type: integer
          format: int64
        nextDividendPayDate:
          type: string
        nextDividendDate:
          type: string
        fundLeverageFactor:
          type: number
          format: double
        fundStrategy:
          type: string
    Instrument:
      type: object
      properties:
        cusip:
          type: string
        symbol:
          type: string
        description:
          type: string
        exchange:
          type: string
        assetType:
          type: string
          enum:
            - BOND
            - EQUITY
            - ETF
            - EXTENDED
            - FOREX
            - FUTURE
            - FUTURE_OPTION
            - FUNDAMENTAL
            - INDEX
            - INDICATOR
            - MUTUAL_FUND
            - OPTION
            - UNKNOWN
        type:
          type: string
          writeOnly: true
          enum:
            - BOND
            - EQUITY
            - ETF
            - EXTENDED
            - FOREX
            - FUTURE
            - FUTURE_OPTION
            - FUNDAMENTAL
            - INDEX
            - INDICATOR
            - MUTUAL_FUND
            - OPTION
            - UNKNOWN
    InstrumentResponse:
      type: object
      properties:
        cusip:
          type: string
        symbol:
          type: string
        description:
          type: string
        exchange:
          type: string
        assetType:
          type: string
          enum:
            - BOND
            - EQUITY
            - ETF
            - EXTENDED
            - FOREX
            - FUTURE
            - FUTURE_OPTION
            - FUNDAMENTAL
            - INDEX
            - INDICATOR
            - MUTUAL_FUND
            - OPTION
            - UNKNOWN
        bondFactor:
          type: string
        bondMultiplier:
          type: string
        bondPrice:
          type: number
        fundamental:
          $ref: '#/components/schemas/FundamentalInst'
        instrumentInfo:
          $ref: '#/components/schemas/Instrument'
        bondInstrumentInfo:
          $ref: '#/components/schemas/Bond'
        type:
          type: string
          writeOnly: true
          enum:
            - BOND
            - EQUITY
            - ETF
            - EXTENDED
            - FOREX
            - FUTURE
            - FUTURE_OPTION
            - FUNDAMENTAL
            - INDEX
            - INDICATOR
            - MUTUAL_FUND
            - OPTION
            - UNKNOWN
    Hours:
      type: object
      properties:
        date:
          type: string
        marketType:
          type: string
          enum:
            - BOND
            - EQUITY
            - ETF
            - EXTENDED
            - FOREX
            - FUTURE
            - FUTURE_OPTION
            - FUNDAMENTAL
            - INDEX
            - INDICATOR
            - MUTUAL_FUND
            - OPTION
            - UNKNOWN
        exchange:
          type: string
        category:
          type: string
        product:
          type: string
        productName:
          type: string
        isOpen:
          type: boolean
        sessionHours:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/Interval'
    Interval:
      type: object
      properties:
        start:
          type: string
        end:
          type: string
    Screener:
      description: Security info of most moved with in an index
      type: object
      properties:
        change:
          description: percent or value changed, by default its percent changed
          type: number
          format: double
        description:
          description: Name of security
          type: string
        direction:
          type: string
          enum:
            - up
            - down
        last:
          description: what was last quoted price
          type: number
          format: double
        symbol:
          description: schwab security symbol
          type: string
        totalVolume:
          type: integer
          format: int64
    Candle:
      type: object
      properties:
        close:
          type: number
          format: double
        datetime:
          type: integer
          format: int64
        datetimeISO8601:
          type: string
          format: yyyy-MM-dd
        high:
          type: number
          format: double
        low:
          type: number
          format: double
        open:
          type: number
          format: double
        volume:
          type: integer
          format: int64
    CandleList:
      type: object
      properties:
        candles:
          type: array
          items:
            $ref: '#/components/schemas/Candle'
        empty:
          type: boolean
        previousClose:
          type: number
          format: double
        previousCloseDate:
          type: integer
          format: int64
        previousCloseDateISO8601:
          type: string
          format: yyyy-MM-dd
        symbol:
          type: string
    EquityResponse:
      description: Quote info of Equity security
      properties:
        assetMainType:
          $ref: '#/components/schemas/AssetMainType'
        assetSubType:
          $ref: '#/components/schemas/EquityAssetSubType'
        ssid:
          description: SSID of instrument
          example: 1234567890
          format: int64
          type: integer
        symbol:
          description: Symbol of instrument
          example: AAPL
          type: string
        realtime:
          description: is quote realtime
          example: true
          type: boolean
        quoteType:
          $ref: '#/components/schemas/QuoteType'
        extended:
          $ref: '#/components/schemas/ExtendedMarket'
        fundamental:
          $ref: '#/components/schemas/Fundamental'
        quote:
          $ref: '#/components/schemas/QuoteEquity'
        reference:
          $ref: '#/components/schemas/ReferenceEquity'
        regular:
          $ref: '#/components/schemas/RegularMarket'
      type: object
    QuoteError:
      description: Partial or Custom errors per request
      properties:
        invalidCusips:
          description: list of invalid cusips from request
          items:
            type: string
          type: array
        invalidSSIDs:
          description: list of invalid SSIDs from request
          items:
            format: int64
            type: integer
          type: array
        invalidSymbols:
          description: list of invalid symbols from request
          items:
            type: string
          type: array
      type: object
    ExtendedMarket:
      description: Quote data for extended hours
      properties:
        askPrice:
          description: Extended market ask price
          example: 124.85
          format: double
          type: number
        askSize:
          description: Extended market ask size
          example: 51771
          format: int32
          type: integer
        bidPrice:
          description: Extended market bid price
          example: 124.85
          format: double
          type: number
        bidSize:
          description: Extended market bid size
          example: 51771
          format: int32
          type: integer
        lastPrice:
          description: Extended market last price
          example: 124.85
          format: double
          type: number
        lastSize:
          description: Regular market last size
          example: 51771
          format: int32
          type: integer
        mark:
          description: mark price
          example: 1.1246
          format: double
          type: number
        quoteTime:
          description: Extended market quote time in milliseconds since Epoch
          example: 1621368000400
          format: int64
          type: integer
        totalVolume:
          description: Total volume
          example: 12345
          format: int64
          type: number
        tradeTime:
          description: Extended market trade time in milliseconds since Epoch
          example: 1621368000400
          format: int64
          type: integer
      type: object
    ForexResponse:
      description: Quote info of Forex security
      properties:
        assetMainType:
          $ref: '#/components/schemas/AssetMainType'
        ssid:
          description: SSID of instrument
          example: 1234567890
          format: int64
          type: integer
        symbol:
          description: Symbol of instrument
          example: AAPL
          type: string
        realtime:
          description: is quote realtime
          example: true
          type: boolean
        quote:
          $ref: '#/components/schemas/QuoteForex'
        reference:
          $ref: '#/components/schemas/ReferenceForex'
      type: object
    Fundamental:
      description: Fundamentals of a security
      properties:
        avg10DaysVolume:
          description: Average 10 day volume
          format: double
          type: number
        avg1YearVolume:
          description: Average 1 day volume
          format: double
          type: number
        declarationDate:
          description: Declaration date in yyyy-mm-ddThh:mm:ssZ
          example: '2021-04-28T00:00:00Z'
          format: date-time
          pattern: yyyy-MM-dd'T'HH:mm:ssZ
          type: string
        divAmount:
          description: Dividend Amount
          example: 0.88
          format: double
          type: number
        divExDate:
          description: Dividend date in yyyy-mm-ddThh:mm:ssZ
          example: '2021-05-07T00:00:00Z'
          format: yyyy-MM-dd'T'HH:mm:ssZ
          type: string
        divFreq:
          $ref: '#/components/schemas/DivFreq'
        divPayAmount:
          description: Dividend Pay Amount
          example: 0.22
          format: double
          type: number
        divPayDate:
          description: Dividend pay date in yyyy-mm-ddThh:mm:ssZ
          example: '2021-05-13T00:00:00Z'
          format: date-time
          pattern: yyyy-MM-dd'T'HH:mm:ssZ
          type: string
        divYield:
          description: Dividend yield
          example: 0.7
          format: double
          type: number
        eps:
          description: Earnings per Share
          example: 4.45645
          format: double
          type: number
        fundLeverageFactor:
          description: Fund Leverage Factor + > 0 <-
          example: -1
          format: double
          type: number
        fundStrategy:
          $ref: '#/components/schemas/FundStrategy'
        nextDivExDate:
          description: Next Dividend date
          example: '2021-02-12T00:00:00Z'
          format: date-time
          pattern: yyyy-MM-dd'T'HH:mm:ssZ
          type: string
        nextDivPayDate:
          description: Next Dividend pay date
          example: '2021-02-12T00:00:00Z'
          format: date-time
          pattern: yyyy-MM-dd'T'HH:mm:ssZ
          type: string
        peRatio:
          description: P/E Ratio
          example: 28.599
          format: double
          type: number
      type: object
    FutureOptionResponse:
      description: Quote info of Future Option security
      properties:
        assetMainType:
          $ref: '#/components/schemas/AssetMainType'
        ssid:
          description: SSID of instrument
          example: 1234567890
          format: int64
          type: integer
        symbol:
          description: Symbol of instrument
          example: AAPL
          type: string
        realtime:
          description: is quote realtime
          example: true
          type: boolean
        quote:
          $ref: '#/components/schemas/QuoteFutureOption'
        reference:
          $ref: '#/components/schemas/ReferenceFutureOption'
      type: object
    FutureResponse:
      description: Quote info of Future security
      properties:
        assetMainType:
          $ref: '#/components/schemas/AssetMainType'
        ssid:
          description: SSID of instrument
          example: 1234567890
          format: int64
          type: integer
        symbol:
          description: Symbol of instrument
          example: AAPL
          type: string
        realtime:
          description: is quote realtime
          example: true
          type: boolean
        quote:
          $ref: '#/components/schemas/QuoteFuture'
        reference:
          $ref: '#/components/schemas/ReferenceFuture'
      type: object
    IndexResponse:
      description: Quote info of Index security
      properties:
        assetMainType:
          $ref: '#/components/schemas/AssetMainType'
        ssid:
          description: SSID of instrument
          example: 1234567890
          format: int64
          type: integer
        symbol:
          description: Symbol of instrument
          example: AAPL
          type: string
        realtime:
          description: is quote realtime
          example: true
          type: boolean
        quote:
          $ref: '#/components/schemas/QuoteIndex'
        reference:
          $ref: '#/components/schemas/ReferenceIndex'
      type: object
    MutualFundResponse:
      description: Quote info of MutualFund security
      properties:
        assetMainType:
          $ref: '#/components/schemas/AssetMainType'
        assetSubType:
          $ref: '#/components/schemas/MutualFundAssetSubType'
        ssid:
          description: SSID of instrument
          example: 1234567890
          format: int64
          type: integer
        symbol:
          description: Symbol of instrument
          example: AAPL
          type: string
        realtime:
          description: is quote realtime
          example: true
          type: boolean
        fundamental:
          $ref: '#/components/schemas/Fundamental'
        quote:
          $ref: '#/components/schemas/QuoteMutualFund'
        reference:
          $ref: '#/components/schemas/ReferenceMutualFund'
      type: object
    OptionResponse:
      description: Quote info of Option security
      properties:
        assetMainType:
          $ref: '#/components/schemas/AssetMainType'
        ssid:
          description: SSID of instrument
          example: 1234567890
          format: int64
          type: integer
        symbol:
          description: Symbol of instrument
          example: AAPL
          type: string
        realtime:
          description: is quote realtime
          example: true
          type: boolean
        quote:
          $ref: '#/components/schemas/QuoteOption'
        reference:
          $ref: '#/components/schemas/ReferenceOption'
      type: object
    QuoteEquity:
      description: Quote data of Equity security
      properties:
        52WeekHigh:
          description: Higest price traded in the past 12 months, or 52 weeks
          example: 145.09
          format: double
          type: number
        52WeekLow:
          description: Lowest price traded in the past 12 months, or 52 weeks
          example: 77.581
          format: double
          type: number
        askMICId:
          description: ask MIC code
          example: XNYS
          type: string
        askPrice:
          description: Current Best Ask Price
          example: 124.63
          format: double
          type: number
        askSize:
          description: Number of shares for ask
          example: 700
          format: int32
          type: integer
        askTime:
          description: Last ask time in milliseconds since Epoch
          example: 1621376892336
          format: int64
          type: integer
        bidMICId:
          description: bid MIC code
          example: XNYS
          type: string
        bidPrice:
          description: Current Best Bid Price
          example: 124.6
          format: double
          type: number
        bidSize:
          description: Number of shares for bid
          example: 300
          format: int32
          type: integer
        bidTime:
          description: Last bid time in milliseconds since Epoch
          example: 1621376892336
          format: int64
          type: integer
        closePrice:
          description: Previous day's closing price
          example: 126.27
          format: double
          type: number
        highPrice:
          description: Day's high trade price
          example: 126.99
          format: double
          type: number
        lastMICId:
          description: Last MIC Code
          example: XNYS
          type: string
        lastPrice:
          example: 122.3
          format: double
          type: number
        lastSize:
          description: Number of shares traded with last trade
          example: 100
          format: int32
          type: integer
        lowPrice:
          description: Day's low trade price
          format: double
          type: number
        mark:
          description: Mark price
          example: 52.93
          format: double
          type: number
        markChange:
          description: Mark Price change
          example: -0.01
          format: double
          type: number
        markPercentChange:
          description: Mark Price percent change
          example: -0.0189
          format: double
          type: number
        netChange:
          description: Current Last-Prev Close
          example: -0.04
          format: double
          type: number
        netPercentChange:
          description: Net Percentage Change
          example: -0.0756
          format: double
          type: number
        openPrice:
          description: Price at market open
          example: 52.8
          format: double
          type: number
        quoteTime:
          description: Last quote time in milliseconds since Epoch
          example: 1621376892336
          format: int64
          type: integer
        securityStatus:
          description: Status of security
          example: Normal
          type: string
        totalVolume:
          description: >-
            Aggregated shares traded throughout the day, including pre/post
            market hours.
          example: 20171188
          format: int64
          type: integer
        tradeTime:
          description: Last trade time in milliseconds since Epoch
          example: 1621376731304
          format: int64
          type: integer
        volatility:
          description: Option Risk/Volatility Measurement
          example: 0.0094
          format: double
          type: number
      type: object
    QuoteForex:
      description: Quote data of Forex security
      properties:
        52WeekHigh:
          description: Higest price traded in the past 12 months, or 52 weeks
          example: 145.09
          format: double
          type: number
        52WeekLow:
          description: Lowest price traded in the past 12 months, or 52 weeks
          example: 77.581
          format: double
          type: number
        askPrice:
          description: Current Best Ask Price
          example: 124.63
          format: double
          type: number
        askSize:
          description: Number of shares for ask
          example: 700
          format: int32
          type: integer
        bidPrice:
          description: Current Best Bid Price
          example: 124.6
          format: double
          type: number
        bidSize:
          description: Number of shares for bid
          example: 300
          format: int32
          type: integer
        closePrice:
          description: Previous day's closing price
          example: 126.27
          format: double
          type: number
        highPrice:
          description: Day's high trade price
          example: 126.99
          format: double
          type: number
        lastPrice:
          example: 122.3
          format: double
          type: number
        lastSize:
          description: Number of shares traded with last trade
          example: 100
          format: int32
          type: integer
        lowPrice:
          description: Day's low trade price
          example: 52.74
          format: double
          type: number
        mark:
          description: Mark price
          example: 52.93
          format: double
          type: number
        netChange:
          description: Current Last-Prev Close
          example: -0.04
          format: double
          type: number
        netPercentChange:
          description: Net Percentage Change
          example: -0.0756
          format: double
          type: number
        openPrice:
          description: Price at market open
          example: 52.8
          format: double
          type: number
        quoteTime:
          description: Last quote time in milliseconds since Epoch
          example: 1621376892336
          format: int64
          type: integer
        securityStatus:
          description: Status of security
          example: Normal
          type: string
        tick:
          description: Tick Price
          example: 0
          format: double
          type: number
        tickAmount:
          description: Tick Amount
          example: 0
          format: double
          type: number
        totalVolume:
          description: >-
            Aggregated shares traded throughout the day, including pre/post
            market hours.
          example: 20171188
          format: int64
          type: integer
        tradeTime:
          description: Last trade time in milliseconds since Epoch
          example: 1621376731304
          format: int64
          type: integer
      type: object
    QuoteFuture:
      description: Quote data of Future security
      properties:
        askMICId:
          description: ask MIC code
          example: XNYS
          type: string
        askPrice:
          description: Current Best Ask Price
          example: 4083.25
          format: double
          type: number
        askSize:
          description: Number of shares for ask
          example: 36
          format: int32
          type: integer
        askTime:
          description: Last ask time in milliseconds since Epoch
          example: 1621376892336
          format: int64
          type: integer
        bidMICId:
          description: bid MIC code
          example: XNYS
          type: string
        bidPrice:
          description: Current Best Bid Price
          example: 4083
          format: double
          type: number
        bidSize:
          description: Number of shares for bid
          example: 18
          format: int32
          type: integer
        bidTime:
          description: Last bid time in milliseconds since Epoch
          example: 1621376892336
          format: int64
          type: integer
        closePrice:
          description: Previous day's closing price
          example: 4123
          format: double
          type: number
        futurePercentChange:
          description: Net Percentage Change
          example: -0.0756
          format: double
          type: number
        highPrice:
          description: Day's high trade price
          example: 4123
          format: double
          type: number
        lastMICId:
          description: Last MIC Code
          example: XNYS
          type: string
        lastPrice:
          example: 4083
          format: double
          type: number
        lastSize:
          description: Number of shares traded with last trade
          example: 7
          format: int32
          type: integer
        lowPrice:
          description: Day's low trade price
          example: 4075.5
          format: double
          type: number
        mark:
          description: Mark price
          example: 4083
          format: double
          type: number
        netChange:
          description: Current Last-Prev Close
          example: -40
          format: double
          type: number
        openInterest:
          description: Open interest
          example: 2517139
          format: int32
          type: integer
        openPrice:
          description: Price at market open
          example: 4114
          format: double
          type: number
        quoteTime:
          description: Last quote time in milliseconds since Epoch
          example: 1621427004585
          format: int64
          type: integer
        quotedInSession:
          description: quoted during trading session
          example: false
          type: boolean
        securityStatus:
          description: Status of security
          example: Normal
          type: string
        settleTime:
          description: settlement time in milliseconds since Epoch
          example: 1621376892336
          format: int64
          type: integer
        tick:
          description: Tick Price
          example: 0.25
          format: double
          type: number
        tickAmount:
          description: Tick Amount
          example: 12.5
          format: double
          type: number
        totalVolume:
          description: >-
            Aggregated shares traded throughout the day, including pre/post
            market hours.
          example: 20171188
          format: int64
          type: integer
        tradeTime:
          description: Last trade time in milliseconds since Epoch
          example: 1621376731304
          format: int64
          type: integer
      type: object
    QuoteFutureOption:
      description: Quote data of Option security
      properties:
        askMICId:
          description: ask MIC code
          example: XNYS
          type: string
        askPrice:
          description: Current Best Ask Price
          example: 124.63
          format: double
          type: number
        askSize:
          description: Number of shares for ask
          example: 700
          format: int32
          type: integer
        bidMICId:
          description: bid MIC code
          example: XNYS
          type: string
        bidPrice:
          description: Current Best Bid Price
          example: 124.6
          format: double
          type: number
        bidSize:
          description: Number of shares for bid
          example: 300
          format: int32
          type: integer
        closePrice:
          description: Previous day's closing price
          example: 126.27
          format: double
          type: number
        highPrice:
          description: Day's high trade price
          example: 126.99
          format: double
          type: number
        lastMICId:
          description: Last MIC Code
          example: XNYS
          type: string
        lastPrice:
          example: 122.3
          format: double
          type: number
        lastSize:
          description: Number of shares traded with last trade
          example: 100
          format: int32
          type: integer
        lowPrice:
          description: Day's low trade price
          example: 52.74
          format: double
          type: number
        mark:
          description: Mark price
          example: 52.93
          format: double
          type: number
        markChange:
          description: Mark Price change
          example: -0.04
          format: double
          type: number
        netChange:
          description: Current Last-Prev Close
          example: -0.04
          format: double
          type: number
        netPercentChange:
          description: Net Percentage Change
          example: -0.0756
          format: double
          type: number
        openInterest:
          description: Open Interest
          example: 317
          format: int32
          type: integer
        openPrice:
          description: Price at market open
          example: 52.8
          format: double
          type: number
        quoteTime:
          description: Last quote time in milliseconds since Epoch
          example: 1621376892336
          format: int64
          type: integer
        securityStatus:
          description: Status of security
          example: Normal
          type: string
        settlemetPrice:
          description: Price at market open
          example: 52.8
          format: double
          type: number
        tick:
          description: Tick Price
          example: 0
          format: double
          type: number
        tickAmount:
          description: Tick Amount
          example: 0
          format: double
          type: number
        totalVolume:
          description: >-
            Aggregated shares traded throughout the day, including pre/post
            market hours.
          example: 20171188
          format: int64
          type: integer
        tradeTime:
          description: Last trade time in milliseconds since Epoch
          example: 1621376731304
          format: int64
          type: integer
      type: object
    QuoteIndex:
      description: Quote data of Index security
      properties:
        52WeekHigh:
          description: Higest price traded in the past 12 months, or 52 weeks
          example: 145.09
          format: double
          type: number
        52WeekLow:
          description: Lowest price traded in the past 12 months, or 52 weeks
          example: 77.581
          format: double
          type: number
        closePrice:
          description: Previous day's closing price
          example: 126.27
          format: double
          type: number
        highPrice:
          description: Day's high trade price
          example: 126.99
          format: double
          type: number
        lastPrice:
          example: 122.3
          format: double
          type: number
        lowPrice:
          description: Day's low trade price
          example: 52.74
          format: double
          type: number
        netChange:
          description: Current Last-Prev Close
          example: -0.04
          format: double
          type: number
        netPercentChange:
          description: Net Percentage Change
          example: -0.0756
          format: double
          type: number
        openPrice:
          description: Price at market open
          example: 52.8
          format: double
          type: number
        securityStatus:
          description: Status of security
          example: Normal
          type: string
        totalVolume:
          description: >-
            Aggregated shares traded throughout the day, including pre/post
            market hours.
          example: 20171188
          format: int64
          type: integer
        tradeTime:
          description: Last trade time in milliseconds since Epoch
          example: 1621376731304
          format: int64
          type: integer
      type: object
    QuoteMutualFund:
      description: Quote data of Mutual Fund security
      properties:
        52WeekHigh:
          description: Higest price traded in the past 12 months, or 52 weeks
          example: 145.09
          format: double
          type: number
        52WeekLow:
          description: Lowest price traded in the past 12 months, or 52 weeks
          example: 77.581
          format: double
          type: number
        closePrice:
          description: Previous day's closing price
          example: 126.27
          format: double
          type: number
        nAV:
          description: Net Asset Value
          example: 126.99
          format: double
          type: number
        netChange:
          description: Current Last-Prev Close
          example: -0.04
          format: double
          type: number
        netPercentChange:
          description: Net Percentage Change
          example: -0.0756
          format: double
          type: number
        securityStatus:
          description: Status of security
          example: Normal
          type: string
        totalVolume:
          description: >-
            Aggregated shares traded throughout the day, including pre/post
            market hours.
          example: 20171188
          format: int64
          type: integer
        tradeTime:
          description: Last trade time in milliseconds since Epoch
          example: 1621376731304
          format: int64
          type: integer
      type: object
    QuoteOption:
      description: Quote data of Option security
      properties:
        52WeekHigh:
          description: Higest price traded in the past 12 months, or 52 weeks
          example: 145.09
          format: double
          type: number
        52WeekLow:
          description: Lowest price traded in the past 12 months, or 52 weeks
          example: 77.581
          format: double
          type: number
        askPrice:
          description: Current Best Ask Price
          example: 124.63
          format: double
          type: number
        askSize:
          description: Number of shares for ask
          example: 700
          format: int32
          type: integer
        bidPrice:
          description: Current Best Bid Price
          example: 124.6
          format: double
          type: number
        bidSize:
          description: Number of shares for bid
          example: 300
          format: int32
          type: integer
        closePrice:
          description: Previous day's closing price
          example: 126.27
          format: double
          type: number
        delta:
          description: Delta Value
          example: -0.0407
          format: double
          type: number
        gamma:
          description: Gamma Value
          example: 0.0001
          format: double
          type: number
        highPrice:
          description: Day's high trade price
          example: 126.99
          format: double
          type: number
        indAskPrice:
          description: Indicative Ask Price applicable only for Indicative Option Symbols
          example: 126.99
          format: double
          type: number
        indBidPrice:
          description: Indicative Bid Price applicable only for Indicative Option Symbols
          example: 126.99
          format: double
          type: number
        indQuoteTime:
          description: >-
            Indicative Quote Time in milliseconds since Epoch applicable only
            for Indicative Option Symbols
          example: 126.99
          format: int64
          type: integer
        impliedYield:
          description: Implied Yield
          example: -0.0067
          format: double
          type: number
        lastPrice:
          example: 122.3
          format: double
[...]
